@import "variables.css";


section {
    margin: 0.5rem;

    div:nth-child(1) {

        display: flex;
        justify-content: center;
    }

    img {
        max-width: 100%;
        border-radius: 0.5rem;
        height: auto;
        object-fit: scale-down;

    }

}


ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
        list-style-type: none;
        font-family: var(--bodyText);
        color: var(--red);
        font-weight: bold;
    }
}

#quote {
    padding: 1rem;
    background-color: rgb(189, 189, 189);
    border-radius: 0.5rem;

    p:nth-child(2) {
        margin-top: 1rem;
    }

    span {
        margin-left: 2rem;
    }
}



/************ TABLET & DESKTOP ************/
@media only screen and (min-device-width: 768px) {


    .con {
        display: flex;
        gap: 1rem;

        div {


            img {
                width: 100%;
                min-width: 400px;
                height: auto;
                object-fit: cover;
            }
        }

        div:nth-child(1) {
            order: 1;
            width: 100%;

        }
    }

}