@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    /* Colors */
    --black: #020404;
    --white: #fdfdfd;
    --red: #ca3729;
    --blue: #004369;

    /* Text & fonts */
    --title: "Poetsen One", serif;
    --bodyText: "Open Sans", serif;
    --textSize: 1rem;
}